.hero-container {
    height: 300px;
    background-image: url("/img/jumbotron.jpg");
    background-size: cover;
    img {
      width: 100%;
    }
  }


  .card {
    width: calc((100% / 6) - 10px);
    background-color: transparent;
    margin-bottom: 5px;
    .title {
      width: 140px;
      h6 {
        padding: 15px 0 10px;
        color: white;
        text-transform: uppercase;
        line-height: 15px;
      }
    }
    .img-container {
      width: 140px;
      height: 140px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }



  .bg-content {
    background-color: #1c1c1c;
    padding: 50px 0;
    .btn-series,
    .btn-load-more {
      background-color: #0282f9;
      color: white;
  
      border: 0;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
    }
    .btn-series {
      position: absolute;
      top: -72px;
      padding: 10px 15px;
    }
  
    .btn-load-more {
      padding: 7px 35px;
      font-size: 14px;
    }
  
    .product-bottom-nav {
      padding-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
  .bg-navbar2 {
    background-color: #0282f9;
  }
  .main-container {
    width: 960px;
    margin: auto;
    position: relative;
    .product-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      gap: 15px;
      padding: 30px;
  
      img {
        width: 35px;
        max-height: 40px;
        object-fit: contain;
        vertical-align: middle;
      }
  
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding-left: 7px;
        white-space: nowrap;
        font-size: 14px;
      }
    }
  }